/*********************** blog page **********************/
.blog_head{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    float: left;
    z-index: 99;
    background: none;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
.blog_content{
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #383734;
}
.bg_toHome{
    width: 100px;
    height: 100%;
    border: none;
    background: none;
    float: left;
}
.toHome{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    padding-top: 25px;
    background: none;
}
.slogan{
    width: 50%;
    height: 100%;
    position: relative;
    padding-top: 10px;
    padding-left: 60px;
    background: url(../img/besly.png) center no-repeat;
    background-size: auto 120%;
    float: left;
}
.slogan > h2{
    width: 100%;
    height: 70%;
    line-height: 56px;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    letter-spacing: .5em;
}
.slogan > p{
    width: 100%;
    height: 29%;
    color: gray;
    margin: 0;
    padding: 0;
    text-align: left;
}
.artical{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 80px;
}
.artical > p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
    color: lightgray;
    padding-top: 80px;
}

.navigationBox{
    width: 18%;
    height: 500px;
    background: none;
    border: none;
    padding: 0;
    float: left;
}
.contentBox{
    width: 59%;
    height: auto;
    min-height: 500px;
    margin-left: 20px;
    background: none;
    border: none;
    padding: 0;
    float: left;
}
.navigationBar{
    width: 70%;
    height: 100%;
    position: relative;
    margin-top: 50px;
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
    float: right;
}
.navigationBar>ul{
    width: 100%;
    height: 100%;
    background-color: gray;
}
.navigationBar>ul>li{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #383734;
}